# Banco de dados PostgreSQL
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/erp_serralheria?schema=public"

# NextAuth (quando configurar)
# NEXTAUTH_SECRET="gere-um-secret-com-openssl-rand-base64-32"
# NEXTAUTH_URL="http://localhost:3000"
